@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.row-caritas hr {
  opacity: 100%;
  background: #1A36A8;
  height: 4px;
  width: 100%;
}

.row-caritas img {
  width: 8%;
  background: white;
  top: -5%;
  right: 50%;
}

.row-title h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1A36A8;
}

.row-title p {
  font-size: 24px;
  font-weight: 600;
  color: #595959;
}

.row-title p span {
  font-weight: 700;
  color: #D43E36;
}

.row-pasos h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1A36A8;
}

.row-pasos p {
  font-size: 18px;
  font-weight: 600;
  color: #595959;
}

.row-pasos img {
  width: 50%;
}

@media (min-width: 377px) and (max-width: 768px) {
  .row-caritas hr {
    height: 3px;
  }
  .row-caritas img {
    width: 15%;
    background: white;
    top: 15%;
    right: 42%;
  }
  .row-title h1 {
    font-size: 28px;
  }
  .row-title p {
    font-size: 20px;
  }
  .row-pasos h1 {
    font-size: 24px;
  }
  .row-pasos p {
    font-size: 14px;
  }
}
@media (min-width: 0px) and (max-width: 376px) {
  .row-caritas hr {
    height: 2px;
  }
  .row-caritas img {
    width: 28%;
    background: white;
    top: 23%;
    right: 38%;
  }
  .row-title h1 {
    font-size: 20px;
  }
  .row-title p {
    font-size: 12px;
  }
  .row-pasos h1 {
    font-size: 18px;
  }
  .row-pasos p {
    font-size: 12px;
  }
}
.container-footer {
  background: #1A36A8;
  padding-top: 80px;
  padding-bottom: 80px;
}

.we-subtitle {
  font-size: 16px;
  color: white;
  font-weight: 300;
  padding: 7px 0 7px 0;
}

.we-title {
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding-bottom: 10px;
}

.icons {
  padding-bottom: 50px;
}
.icons i {
  color: white;
  font-size: 30px;
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #1A36A8;
}

.text-medio {
  font-size: 24px;
  font-weight: 600;
}

.text-titulos {
  font-size: 56px;
  font-weight: 700;
}

.text-titulos span {
  font-size: 40px;
}

.text-fecha {
  font-size: 28px;
  font-weight: 600;
}

.text-fecha span {
  font-weight: 700;
}

.img-cupon {
  width: 85%;
}

.catcha {
  width: 98%;
}

.text-final {
  font-size: 14px;
}

.text-form__title {
  font-size: 24px;
  font-weight: 800;
  color: #D43E36;
}

@media (min-width: 0px) and (max-width: 768px) {
  /*Logo*/
  .logoMasuno {
    width: 20%;
  }
  /*Textos de titulos*/
  .text-titulos {
    font-size: 42px;
    font-weight: 700;
  }
  .text-titulos span {
    font-size: 26px;
  }
  .text-fecha {
    font-size: 18px;
  }
  .formulario {
    font-size: 14px;
  }
  .form-control::placeholder {
    font-size: 14px;
  }
  .form-select {
    font-size: 14px;
  }
  .text-form__title {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .col-derecha {
    padding-top: 50px;
  }
  .col-cupon {
    text-align: center;
  }
  .col-cupon .cupon {
    width: 100%;
    padding-right: 50px;
  }
  .col-iz__title {
    font-size: 40px;
  }
  .text-one {
    font-size: 28px;
  }
  .col-caritas {
    width: 20%;
    top: 35%;
    left: 45%;
    background: white;
    padding: 0 30px 0 30px;
  }
  .carousel-item h3 {
    font-size: 20px;
  }
  .carousel-item p {
    font-size: 15px;
    margin-bottom: 0;
  }
  .carousel-item .img-tecnologia {
    width: 90%;
  }
  .indicator {
    bottom: -10px;
  }
}
@media (max-width: 767px) {
  .col-derecha {
    padding: 70px;
  }
  .col-cupon {
    text-align: center;
  }
  .col-cupon .cupon {
    width: 100%;
    padding-right: 20px;
  }
  .stiker {
    top: -5%;
    right: -10%;
  }
  .title-cyber {
    padding: 50px;
  }
  .col-caritas {
    width: 30%;
    top: 35%;
    left: 35%;
    background: white;
    padding: 0 30px 0 30px;
  }
  .carousel-item h3 {
    font-size: 20px;
  }
  .carousel-item p {
    font-size: 15px;
    margin-bottom: 0;
  }
  .carousel-item .img-tecnologia {
    width: 100%;
  }
  .indicator {
    bottom: -10px;
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
